body {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #A42D00

}

h3 {
    font-size: 1rem;
    color: 	#FFA488
}
h4 {
    font-size: 1rem;
    color: 	#ffffff
}
.rwdhead {
    font-size: 30px;
    color:#FFA488;
}


@media (min-width: 600px) and (max-width: 1200px) {
    .rwdhead {
     font-size: 100 px);
    color: #000; ;
    }
  }
  @media (min-width: 1200px) {
    .rwdhead {
       font-size: 50px;
       color:#ffffff;
    }
  }